nav ul {
  list-style: none;
  padding-left: 50px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: black;
}

nav ul li a {
  text-decoration: underline;
  color: blue;
}

#gallery img {
  width: 314px;
  height: 210px;
  margin: 0px 10px;
  border: 5px solid #f8d210;
  outline-offset: 5px;
  box-shadow: 5px 0 0 #f51720;
}

#gallery img:hover {
  border-color: #2ff3e0;
}

#register-form {
  margin-top: 20px;
  border-top: 5px solid #4c5270;
  width: 400px;
}

#register-form input,
#register-form button {
  display: block;
  width: 400px;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#register-form button {
  background-color: steelblue;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
