/* #title {
  color: blue;
}
.sub-title-class {
  color: pink;
} */

/* * {
  color: white;
  background-color: rgb(204, 196, 196);
} */

button:hover {
  background-color: aquamarine;
  color: white;
}
button:active {
  background-color: red;
  color: black;
}
p:nth-last-of-type(1) {
  color: red;
}
